/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

h1 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}
